/.Xauthority
/.bash_history
/.bashrc
/.cache
/.config
/.db
/.env
/.gitconfig
/.gnupg
/.local
/.node_repl_history
/.npm
/.pki
/.psql_history
/.sqlite_history
/.swp
/.viminfo
/.vscode
/.wget-hsts
/boringproxy-linux-arm64
/cert.pem
/key.pem
/node_modules