/.Xauthority
/.bash_history
/.bashrc
/.cache
/.config
/.env
/.gitconfig
/.gnupg
/.local
/.node_repl_history
/.npm
/.pki
/.psql_history
/.sqlite_history
/.swp
/.viminfo
/.vscode
/.wget-hsts
/boringproxy-linux-arm64
/node_modules