<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><% meta.map(({name, content}) => echo(`\n    <meta name="${escapeXML(name)}" content="${escapeXML(content)}">`)) _%>
<%- resources.length ? ("\n\n" + indent(resources.join("\n"), "    ")) : "" %>
  </head>
  <body>
    <nav-icon>
      <nav-text>i</nav-text>
    </nav-icon>

    <!-- <nav>
      <nav-h1>Item A</nav-h1>
      
      <nav-name>Group A</nav-name>
      <nav-div>
        <nav-item>G-A, Item A</nav-item>
        <nav-item>G-A, Item B</nav-item>
        <nav-item>G-A, Item C</nav-item>
      </nav-div>
      
      <nav-name>Group B</nav-name>
      <nav-div>
        <nav-item>G-B, Item A</nav-item>
        <nav-item>G-B, Item B</nav-item>
        <nav-item>G-B, Item C</nav-item>
      </nav-div>
    </nav>

    <main>
<%#- indent(body, "      ") %>
    </main> -->
  </body>
</html>