<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><% meta.map(({name, content}) => echo(`\n    <meta name="${escapeXML(name)}" content="${escapeXML(content)}">`)) _%>
<%- resources.length ? ("\n\n" + indent(resources.join("\n"), "    ")) : "" %>
  </head>
  <body>
    <nav>
      <input id="nav-input" type="text" autocomplete="off" placeholder="Search navigation...">
      
      <nav-name>Group A</nav-name>
      <nav-div>
        <a>G-A, Item A</a>
        <a>G-A, Item B</a>
        <a>G-A, Item C</a>
      </nav-div>
      
      <nav-name>Group B</nav-name>
      <nav-div>
        <a>G-B, Item A</a>
        <a>G-B, Item B</a>
        <a>G-B, Item C</a>
      </nav-div>
    </nav>

    <main>
<%- indent(body, "      ") %>
    </main>
  </body>
</html>