<!DOCTYPE html>
<html class="<% if (frame) echo("frame"); %>">
  <head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><% meta.map(({name, content}) => echo(`\n    <meta name="${escapeXML(name)}" content="${escapeXML(content)}">`)) _%>
<%- resources.length ? ("\n\n" + indent(resources.join("\n"), "    ")) : "" %>
  </head>
  <body>
    <% if (!frame) { %><nav-icon id="nav-icon"></nav-icon>
    
    <iframe id="nav" src="/nav/"></iframe><% } %>

    <main>
<%- indent(body, "      ") %>
    </main>
  </body>
</html>