<% title("Sign up for zSnout"), layout("form"), js("/account/sign-up.mjs") %>

<input placeholder="Username" type="text" id="username" autocomplete="username">
<input placeholder="Email Address" type="text" id="email" autocomplete="email">
<input type="submit" id="submit" value="Sign Up">
<hr>
<message unbox>Or <a href="/account/log-in">log in with an existing account</a>.</message>