:root {
  --bg: #063937;
  --input: #095b58;
  --border: #67d0c9;
  --header-color: #59918d;
  --subheader-color: #59918d;
  --color: #ffffff;
  --link: #94ccc8;
  --input-selected: #41908b;
  --border-selected: #67d0c9;
  --color-selected: #ffffff;
  --link-selected: #ffffff;
  --correct: #004b00;
  --partial: #4b4b00;
  --incorrect: #4b0000;
  
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  color: var(--color);

  font-family: var(--sans-serif);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  z-index: 1;
}

nav-icon {
  z-index: 3;

  background: var(--input);
  border: 2px solid var(--border);
  border-radius: 50%;
  display: block;
  width: 28px;
  height: 28px;
  position: fixed;
  top: 8px;
  left: 8px;
  cursor: pointer;
  user-select: none;

  transition: 0.3s;
}

nav-text {
  display: block;
  font-family: var(--serif);
  font-weight: bold;
  font-size: 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav-icon:hover {
  border-color: var(--border-selected);
  background: var(--input-selected);
  color: var(--color-selected);
}

nav {
  z-index: 2;

  background: purple;
}

nav-h1 {
  background: aqua;
}

nav-name {
  background: darkorange;
}

nav-div {
  background: yellow;
}

nav-item {
  background: olivedrab;
}

@media only screen and (min-width: 1000px) {
  nav-icon { display: none }

  nav {
    width: 299px;
    border-right: 1px solid var(--border);
  }
}