<% title("Sign up to zSnout"), layout("form") %>

<message unbox>Sign up for a zSnout account!</message>
<hr>
<input type="text" placeholder="Username" autocomplete="username" validate required pattern="^[A-Za-z_][A-Za-z0-9_]{4,15}$" minlength="5" maxlength="16">
<input type="email" placeholder="Email Address" autocomplete="email" validate required>
<input type="submit" value="Sign Up!">
<hr>
<message unbox>Or <a href="/account/log-in/">log in to an existing account</a>.</message>