main {
  user-select: none;
}

main::-webkit-scrollbar {
  display: none;
}

nav h1 {
  display: block;
  margin: 0;
  border: 0;
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 16px;
  text-align: center;
  background: var(--accent-background);
  border-bottom: 1px solid var(--accent-border);
  border-top: 3px solid var(--accent-border);
  color: var(--accent-color);
  font-weight: bold;
}

nav h1:first-child {
  border-top: 0;
}

nav div {
  display: block;
}

nav div:last-child {
  border-bottom: 1px solid var(--accent-border);
}

nav a {
  display: inline-block;
  width: calc(50% - 16.5px);
  padding: 8px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid var(--accent-border);
  border-bottom: 1px solid var(--accent-border);
  text-decoration: none;
  color: var(--standard-color);
  transition: var(--transitions);
  cursor: pointer;
  outline: 0;
}

nav a:nth-child(2n) {
  border-right: 0;
}

nav a:last-child,
nav a:nth-last-child(2):nth-child(2n + 1) {
  border-bottom: 0;
}

nav a:last-child:nth-child(2n + 1) {
  width: calc(100vw - 16px);
}

.hover nav a:hover,
nav a:focus {
  background: var(--focused-background);
  border-color: var(--focused-border);
  color: var(--focused-color);
}

@media (max-width: 250px) {
  nav a {
    border-right: 0;
    width: calc(100% - 16px);
  }

  /* need to overqualify selector */
  nav a:nth-last-child(2):nth-last-child(2) {
    border-bottom: 1px solid var(--accent-border);
  }
}
