<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <% meta.map(({name, content}) => echo(`\n    <meta name="${escapeXML(name)}" content="${escapeXML(content)}">`)) _%>
    <%- "\n" + indent(resources.join("\n"), "    ", "    ") %>
  </head>
  <body nctx noselect>
    <dialog id="modal-bg">
      <modal id="modal">
        <label for="modal-input" id="modal-info"></label>
        <input ctx id="modal-input">
        <div id="modal-buttons"></div>
      </modal>
    </dialog>

    <header></header>

    <footer>
      <%- indent(buttons.join("\n"), "      ", "") %>
    </footer>

    <main>
      <%- indent(body, "      ") %>
    </main>
  </body>
</html>