nav {
  z-index: 2;
  display: block;
  width: 299px;
  height: 100vh;
  background: var(--bg);
  border-right: 1px solid var(--border);
  position: fixed;
  top: 0;
  left: -300px;
  user-select: none;
  /* transition: left 0.5s; */
}

.nav-transitions nav { transition: left 0.5s }

#nav-input {
  display: block;
  background: var(--input);
  border: none;
  border-bottom: 1px solid var(--border);
  color: var(--color);
  font-family: var(--sans-serif);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 283px;
  padding: 8px;
  margin: 0;
  outline: none;
  transition: var(--transitions);
}

#nav-input::placeholder {
  color: var(--color);
}

#nav-input:hover, #nav-input:focus {
  background: var(--input-selected);
  color: var(--color-selected);
  border-color: var(--border-selected);
}

#nav-input:focus::placeholder {
  color: transparent;
}

nav-name {
  display: block;
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 20px;
  text-align: center;
  background: var(--input);
  border-bottom: 1px solid var(--border);
  border-top: 3px solid var(--border);
  color: var(--color);
}

nav-div:last-child :last-child { border-bottom-width: 4px }

nav-div {
  display: block;
}

nav a {
  display: block;
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid var(--border);
  text-decoration: none;
  color: var(--color);
  transition: var(--transitions);
}

nav a:hover {
  border-color: var(--border-selected);
  background: var(--input-selected);
  color: var(--color-selected);
}