/* Form Elements

message: Message
input: Text Field
hr: Section Divider

*/

main {
  position: relative;
}

form {
  width: min(500px, calc(100vw - 16px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form > :first-child {
  margin-top: 0 !important;
}
form > :last-child {
  margin-bottom: 0 !important;
}

hr {
  display: block;
  margin: 8px 0;
  border: 0;
  border-top: 2px solid var(--border);
  padding: 0;
}
hr[thin] {
  border-top-width: 1px;
}
hr[dashed] {
  border-top-style: dashed;
}

input,
button,
message {
  display: block;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--input);
  width: calc(100% - 18px);
  font-size: 16px;
  font-family: var(--sans-serif);
  font-weight: normal;
  outline: 0;
  color: var(--color);
  transition: var(--transitions);
  --focused: var(--input-selected);
}

.hover input:hover,
input:not([type="submit"]):focus {
  border-color: var(--border-selected);
  background: var(--input-selected);
  color: var(--color-selected);
}

input[unbox]:not([type="submit"]),
message[unbox] {
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  background: var(--bg);
  --focused: var(--bg);
}

input::placeholder {
  transition: color 0.3s;
}

input:focus::placeholder {
  color: var(--focused);
}

.hover input[unbox]:hover,
input[unbox]:focus {
  background: var(--bg);
  color: var(--color);
}

input[type="submit"],
button {
  width: 100%;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

message {
  font-weight: bold;
  font-family: var(--serif);
  text-align: center;
  font-size: 20px;
}

message a {
  text-decoration: none;
  color: var(--link);
}

input[status="incorrect"],
.hover input[status="incorrect"]:hover,
input[validate]:invalid {
  border-color: var(--border);
  background: var(--incorrect);
  color: var(--color);

  --focused: var(--incorrect);
}

input[status="partial"],
.hover input[status="partial"]:hover {
  border-color: var(--border);
  background: var(--partial);
  color: var(--color);

  --focused: var(--partial);
}

input[status="correct"],
.hover input[status="correct"]:hover,
input[validate]:valid {
  border-color: var(--border);
  background: var(--correct);
  color: var(--color);

  --focused: var(--correct);
}
