main {
  display: flex;
}

.main-form {
  width: min(500px, calc(100vw - 16px));
  margin: auto;
}

.main-form > :first-child {
  margin-top: 0 !important;
}
.main-form > :last-child {
  margin-bottom: 0 !important;
}

.main-form hr {
  display: block;
  margin: 8px 0;
  border: 0;
  border-top: 2px solid var(--border);
  padding: 0;
}
.main-form hr[thin] {
  border-top-width: 1px;
}
.main-form hr[dashed] {
  border-top-style: dashed;
}

.main-form input,
.main-form button,
.main-form message {
  display: block;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--input);
  width: calc(100% - 18px);
  font-size: 16px;
  font-family: var(--sans-serif);
  font-weight: normal;
  outline: 0;
  color: var(--color);
  transition: var(--transitions);
  --focused: var(--input-selected);
}

.hover .main-form input:hover,
.main-form input:not([type="submit"]):focus {
  border-color: var(--border-selected);
  background: var(--input-selected);
  color: var(--color-selected);
}

.main-form input[unbox]:not([type="submit"]),
.main-form message[unbox] {
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  background: var(--bg);
  --focused: var(--bg);
}

.main-form input::placeholder {
  transition: color 0.3s;
}

.main-form input:focus::placeholder {
  color: var(--focused);
}

.hover .main-form input[unbox]:hover,
.main-form input[unbox]:focus {
  background: var(--bg);
  color: var(--color);
}

.main-form input[type="submit"],
.main-form button {
  width: 100%;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.main-form message {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.main-form desc {
  display: block;
  text-align: left;
  font-size: 16px;
}

.main-form input + desc {
  margin-top: 20px;
}

.main-form message a,
.main-form desc a {
  text-decoration: none;
  color: var(--link);
}

.html input[status="incorrect"],
.hover.html input[status="incorrect"]:hover,
.html input[validate]:invalid {
  border-color: var(--border);
  background: var(--incorrect);
  color: var(--color);

  --focused: var(--incorrect);
}

.html input[status="partial"],
.hover.html input[status="partial"]:hover {
  border-color: var(--border);
  background: var(--partial);
  color: var(--color);

  --focused: var(--partial);
}

.html input[status="correct"],
.hover.html input[status="correct"]:hover,
.html input[validate]:valid {
  border-color: var(--border);
  background: var(--correct);
  color: var(--color);

  --focused: var(--correct);
}
