main {
  display: flex;
}

.main-form {
  width: min(500px, calc(100vw - 16px));
  margin: auto;
}

.main-form > :first-child {
  margin-top: 0 !important;
}
.main-form > :last-child {
  margin-bottom: 0 !important;
}

.main-form hr {
  display: block;
  margin: 8px 0;
  border: 0;
  border-top: 2px solid var(--accent-border);
  padding: 0;
}
.main-form hr[thin] {
  border-top-width: 1px;
}
.main-form hr[dashed] {
  border-top-style: dashed;
}

.main-form input,
.main-form button,
.main-form message {
  display: block;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid var(--accent-border);
  border-radius: 8px;
  background: var(--accent-background);
  width: calc(100% - 18px);
  font-size: 16px;
  font-family: var(--font-sans-serif);
  font-weight: normal;
  outline: 0;
  color: var(--accent-color);
  transition: var(--transitions), box-shadow 0.3s;

  --focused: var(--focused-background);
}

.hover .main-form input:hover,
.main-form input:not([type="submit"]):focus {
  border-color: var(--focused-border);
  background: var(--focused-background);
  color: var(--focused-color);
}

.main-form message[unbox] {
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  background: var(--bg);
}

.main-form input::placeholder {
  transition: color 0.5s;
}

.main-form input:focus::placeholder {
  color: transparent;
}

.main-form input[type="submit"],
.main-form button {
  width: 100%;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.main-form message {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.main-form label {
  display: block;
  text-align: left;
  font-size: 16px;
}

.main-form input + label {
  margin-top: 20px;
}

.main-form message a,
.main-form label a {
  text-decoration: none;
  color: var(--standard-accent);
  outline: 0;
  border-radius: 4px;
  padding: 2px;
  transition: box-shadow 0.3s;
}

.main-form input:focus,
.main-form button:focus,
.main-form a:focus {
  --shadow: var(--accent-border);

  box-shadow: var(--shadow) 0 0 6px 1px;
}

.html input[status="invalid"],
.hover.html input[status="invalid"]:hover,
.html input[validate]:invalid {
  background: var(--invalid-background);
  border-color: var(--invalid-border);
  color: var(--invalid-color);

  --shadow: var(--invalid-border);
}

.html input[status="valid"],
.hover.html input[status="valid"]:hover,
.html input[validate]:valid {
  background: var(--valid-background);
  border-color: var(--valid-border);
  color: var(--valid-color);

  --shadow: var(--valid-border);
}
